.home {
  text-align: center;
}

.logo {
  border-radius: 50%;
}

.list {
  font-size: 1.5rem;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0 10rem;
  transform: translateX(25%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}